frontend lb
	bind *:8080
	default_backend myweb
	timeout client 10s

backend myweb
	balance	roundrobin
	timeout connect 10s
	timeout server 10s
{% for x in groups['web'] %}
	server app{{ loop.index }} {{x}}:80
{% endfor %} 
